
@font-face {
  font-family: TT Norms Pro;
  src: url(assets/TT_Norms_Pro_Medium.woff) format('woff');
}

body {
  font-family: TT Norms Pro;
}

.widget-wrapper {
  font-family: 'TT Norms Pro' !important;
}