
body {
  font-family: "TT Norms";
}

@font-face {
  font-family: "TT Norms";
  src: url(https://globalstaticassets.blob.core.windows.net/public/TT-Norms-Medium.otf) format("opentype");
}

.widget-wrapper {
  font-family: "TT Norms" !important;
}


